output
data
venv
.idea
.ipynb_checkpoints
.DS_Store
/robin_wenzel_assignment_4/output/
/robin_wenzel_assignment_4/.ipynb_checkpoints/
/Zheng_Yao_and_Yuxin_Liu_assignment4/output/
/Zheng_Yao_and_Yuxin_Liu_assignment4/data/
/Zheng_Yao_and_Yuxin_Liu_assignment4/.ipynb_checkpoints/
Pipeline/moritz_walter_assigment_4/output/
Pipeline/moritz_walter_assigment_4/.ipynb_checkpoints/
Pipeline/moritz_walter_assigment_4/data/
/Pipeline/franziska_rau_assigment_4/output/
/Pipeline/franziska_rau_assigment_4/.ipynb_checkpoints/
/Pipeline/mfranziska_raur_assigment_4/data/
/Pipeline/milos_budimir_assignment4/output/
/Pipeline/milos_budimir_assignment4/videoinfo_CEii1_kEoZs_2020_12_01-23_08_31_comments.tab
/Pipeline/florian_mies_assignment4/output/
/Pipeline/florian_mies_assignment4/data/

